<section id="about" class="section">
    <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
            <div class="about-text">
                <p>Hi, I'm Jonas! I'm a game developer based in Leipzig,Germany.</p>
                <p>Welcome! I'm Jonas Heinke, a games programmer and tabletop RPG designer from Leipzig, Germany, with a sharp focus on crafting immersive experiences, both digital and tabletop.</p>
                <p>My projects often dig into the mechanics of human psychology, decision-making, and rationality.</p>
                <!-- Add more about yourself -->
            </div>
        </div>
    </div>
</section> 