<section id="about" class="section">
    <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
            <div class="about-text">
                <p>Hi, i am Jonas, a games programmer and tabletop RPG designer from Leipzig, Germany, with a sharp focus on crafting immersive experiences, both digital and tabletop.</p>
                <p>My projects often dig into the mechanics of human psychology, decision-making, and rationality.</p>
                <p>This is a place to write about my projects and thoughts on games, design, and other things.</p>
                <!-- Add more about yourself -->
            </div>
        </div>
    </div>
</section> 