<nav class="navbar">
    <div class="navbar-container">
        <div class="site-title">
            <a href="/">{{ site.title }}</a>
            
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/rpg">Blog</a>
            <a href="/mistakes">Mistakes</a>
            <a href="/contact">Contact</a>
            <button class="theme-toggle" aria-label="Toggle dark mode">
                <i class="fas fa-moon"></i>
            </button>
        </div>
    </div>
</nav>