<nav class="navbar">
    <div class="site-title">
        <a href="/">{{ site.title }}</a>
        <svg class="site-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 70">
            <g transform="translate(20, -115)">
                <path d="M20 140 L20 160 L0 150 Z"/>
                <path d="M20 150
                         L40 140 L50 150 L60 140 L70 150
                         L85 135 L100 150 L115 135 L130 150
                         L150 130 L170 150 L190 130 L210 150
                         L235 125 L260 150" 
                      stroke-width="3"
                      fill="none"/>
                <g transform="translate(260, 150)">
                    <circle r="30" stroke-width="0.5" fill="none"/>
                    <circle r="25" stroke-width="1" fill="none"/>
                    <circle r="20" stroke-width="1.5" fill="none"/>
                    <circle r="15" stroke-width="2" fill="none"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
</nav>